body {

}

header {
	text-align: center;
	height: 70px;
	width: 100%;
	background-color: grey;
}

#scoreboard div {
	height: 65px;
	width: 18%;
	border: 1px solid black;
	display: inline-block;
	padding-bottom: 0px;
}

#player1, #score1 {
	background-color: #0055A2;
	color: white;
	font-size: 2.5em;
	font-weight: bold;
	font-family: Arial;
}

#player2, #score2 {
	background-color: #9E2421;
	color: white;
	font-size: 2.5em;
	font-weight: bold;
	font-family: Arial;
}

#player1-select {
	position: absolute;
	top: 80px;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: grey;
	background: rgba(80, 80, 80, 0.8);
	display: block;
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 5em;
	padding-top: 165px;
}

#player2-select {
	position: absolute;
	top: 80px;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: grey;
	background: rgba(80, 80, 80, 0.8);
	display: none;
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 5em;
	padding-top: 165px;
}

#select2 {
	display: none;
}

#start {
	position: absolute;
	top: 80px;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: grey;
	background: rgba(80, 80, 80, 1);
	display: block;
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 5em;
	padding-top: 165px;
}

#player1-plate {
	position: absolute;
	top: 80px;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: #0055A2;
	display: none;
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 5em;
	padding-top: 165px;
}

#player1-end-plate {
	position: absolute;
	top: 80px;
	z-index: 1;
	height: 100%;
	width: 100%;
	background: rgba(80, 80, 80, 0.1);
	display: none;
	color: rgb(50, 50, 50);
	font-family: Arial;
	font-size: 1.5em;
	padding-top: 10px;
}

#player2-plate {
	position: absolute;
	top: 80px;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: #9E2421;
	display: none;
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 5em;
	padding-top: 165px;
}

#player2-end-plate {
	position: absolute;
	top: 80px;
	z-index: 1;
	height: 100%;
	width: 100%;
	background: rgba(80, 80, 80, 0.1);
	display: none;
	color: rgb(50, 50, 50);
	font-family: Arial;
	font-size: 1.5em;
	padding-top: 10px;
}

#player1-win {
	position: absolute;
	top: 80px;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: #0055A2;
	display: none;
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 3em;
}

#player2-win {
	position: absolute;
	top: 80px;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: #9E2421;
	display: none;
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 3em;
}

#p1w, #p2w {
	height: 200px;
	width: 150px;
	margin: 20px auto;
}

.gameboard {
	text-align: center;
	margin-top: 25px;
}

#gb1 .cards {
	border: 2px solid blue;
}

#gb2 .cards {
	border: 2px solid red;
}

.container {
	display: inline-block;
	width: 90px;
	border-radius: 10px;
	margin-right: 20px;
	margin-left: 20px;
	position: relative;
	background-color: white;
}

.cards {
	position: relative;
	height: 120px;
	border: 2px solid grey;
	border-radius: 10px;
	background-size: cover;
	background-repeat: no-repeat;
}

.overlay {
	background: rgba(80, 80, 80, 0.6);
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	z-index: 1;
	top: 0;
}

.overlay0 {
	background: rgba(80, 80, 80, 0.6);
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	z-index: 1;
	top: 0;
}

p {
	color: white;
	font-size: 0.7em;
	opacity: 1;
	margin: 4px auto;
	font-family: Arial;
}

.name {
	font-weight: bold;
	font-size: 0.85em;
}

#gb1, #gb2 {
	display: none;
}

.targets {
	display: none;
}